@import "components.scss";

/*--------------------------------------------------------------
# COMMON CSS START
--------------------------------------------------------------*/
.font-heading {
    @extend %font-heading;
    font-weight: 700;
} 

.font-paragraph {
    @extend %font-theme;
    font-weight: $font-weight-normal;
}
 
.font-special {
    @extend %font-special;
    font-weight: 500;
} 

.fw-medium {
    font-weight: 600;
}

// CREATE CLASS OF COLOR AND BACKGROUND

$createtextbg: ("gray-200": $gray-200, "gray-300": $gray-300, "gray-400": $gray-400, "gray-500": $gray-500, "gray-600": $gray-600, "gray-700": $gray-700, "gray-800": $gray-800, "gray-900": $gray-900);

@each $varsname, $vars in $createtextbg {
  .text-#{$varsname} {
    color: $vars;
  }
  .bg-#{$varsname} {
    background-color: $vars; 
  }
}

body {
    margin: 0;
    padding: 0;
    font-weight: $font-weight-normal;
    overflow-x: hidden;
    @extend .font-paragraph;
    font-size: $font-size-base*0.8; 
    @include media-breakpoint-up(md) {
        font-size: $font-size-base*0.9;
    }
    @include media-breakpoint-up(xl) {
        font-size: $font-size-base;
    }
    @include media-breakpoint-up(xxxl) {
        font-size: $font-size-base*1.1;
    }
}

h1 h2, h3, h4, h5, h6,
.h1, .h2, .h3, h4, .h5, .h6,
.display-1, .display-2, .display-3, h4, .display-5, .display-6{
    line-height: 1.5;
}

a{
    text-decoration: none;
    color: inherit;
    @include hover{
        color: inherit;
    }
}

.bg-none {
    @extend %bg-none;
}

// REMOVE FOCUS FROM SELECT AND BTN
.form-select, .btn{
    &:focus {
        border-color: transparent;
        outline: 0;
        box-shadow: 0 0 0 0 rgba(13, 110, 253, 0)!important;
    }
}
 
// CREATE BTNS
.btn{
    &-white{
        background-color: $white;
        border-color: $white;
    }
} 

section,
.section {
    @include padding(1rem 0);
    @include media-breakpoint-up(md) {
        @include padding(1.5rem);
    }
    .section-heading {
        .main-heading {
            line-height: 1.2;
            margin-bottom: 0; 
            h2{
                text-transform: uppercase;
                color: $primary;
                font-weight: 100;
                @include media-breakpoint-up(lg){
                    font-size: 2.3rem;
                }
            }
        }
    }
    .container, .container-fluid{
        position: relative;
        .btn-bottom{
                @include position(absolute, 0 0 null null);
            }
        @include media-breakpoint-up(lg){
            .btn-lg-bottom{
                @include position(absolute, 0 0 null null);
            }
        }
        @include media-breakpoint-up(md){
            .btn-md-bottom{
                @include position(absolute, 0 0 null null);
            }
        }
        @include media-breakpoint-up(sm){
            .btn-sm-bottom{
                @include position(absolute, 0 0 null null);
            }
        }
    }
}

@include checkbox();
@include radio();
@include accordion();
@include breadcrumb();
@include slick-arrow(); 

@import "./header.scss";
@import "./footer.scss";
@import "./sidebar.scss";
@import "./modal.scss";

// -----------------------------------------------------------
// COMMON CLASSES IN THEME
// -----------------------------------------------------------

.responsive-images{
    .img-holder{
        width: 100%!important;
        height: 100%!important;
        max-width: 100%!important;
        max-height: 100%!important;
        img{
            width: auto!important;
            height: 100%!important;
            // min-width: 100%!important; 
            min-height: 100%!important;
        }
    }
    &-center{
        .img-holder{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

// CREATE DATA LIST
dl{
    dt{
        .bi-circle-fill{
            color: $gray-300;
            &::before{
                @include transform(scale(0.5));
            }
        }
    }
}

// CHANGE CUSTOM SELECT ICON
.custom-select{
    background-image: url(../../assets/images/select-down.svg);
}

// 
.rating{
    .bi-star-fill, .bi-star-half{
        margin: 2px;
        color: $warning;
    }
}


.slick-height-equal {
    .slick-track {
        display: flex;
        align-items: stretch;
        .slick-slide {
            height: auto;
            flex: 1;
        }
    }
}

.slick-arrows-dark{
    @include media-breakpoint-up(md){
        margin-left: -30px;
        margin-right: -30px;
    }
    .slick-arrow{
        background-color: $gray-600;
        border-color: $gray-600;
        @extend .h6;
        color: $white;
        @include size(25px);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        z-index: 3;
        &:hover{
            background-color: $dark;
            border-color: $dark;
        }
    }
    .slick-prev{
        z-index: 10;
    }
}

