//--------------------------------------------------------------
//   FOOTER
// -----------------------------------------------------------
footer {
    background: $white;
    hr{ 
        background-color: $dark;
        opacity: 1;
    }
    .nav-title{
        color: $dark;
        text-transform: uppercase;
        @extend .ps-3;
        @extend .pt-3;
    }
    .footer-logo{
        max-width: 200px
    }
    .social-icons{
        .btn{
            color: $dark;
            @include size(60px);
            padding: 0.5rem!important;
            font-size: 1.3rem;
            @include hover(){
                color: $primary;
            }
        }
    }
    .border-between{
        .after-border-right{
            @extend %border-between-horizontal; 
            &:after{
                background-color: $gray-600;
                height: 96%;
                top: 3%;
            }
        }
        &.border-left-white{
            position: relative;
            &:after{
                content: " ";
                @include position(absolute, 0 100% 0 0);
                width: 2px;
                height: 100%;
                background-color: $white;
                z-index: 12;
            }
        }
    }
    .nav {
        &.border-between{
            .nav-item{
                @extend %border-between-horizontal;
            }
            &.border-left-white{
                position: relative;
                &:after{
                    content: " ";
                    @include position(absolute, 0 100% 0 0);
                    width: 1px;
                    height: 100%;
                    background-color: $white;
                    z-index: 12;
                }
            }
        }
        .nav-link {
            color: $dark;
            @extend .py-1;
            padding-left: 11px;
            padding-right: 11px;
            @include hover() {
                color: $primary;
            }
        }
    }
    .logo {
        max-width: 150px;
    }
    .social-icons {
        a {
            text-decoration: none;
            color: $white;
            margin-right: 8px;
            @include hover() {
                color: $secondary;
            }
        }
    }
    .copyright{ 
         text-align: center;
         display: flex;
         justify-content: center;
         &::before{
            content: " ";
            @include position(absolute, 50% 0 0 0);
            @include transform(translateY(-100%));
            width: 100%;
            height: 1px;
            background-color: $dark;
            z-index: 0;
         }
         .text{
             padding: 0.5rem;
             display: inline-block;
             position: relative;
             z-index: 2;
             background-color: $white;
             background-clip: padding-box;
         }
    }
}