/*--------------------------------------------------------------
#  header 
--------------------------------------------------------------*/

.site-header{
    .navbar{
        background-color: $white; 
        .navbar-brand{ 
            position: relative;
            display: inline-block;
            margin-right: 0; 
            .logo{
                max-width: 110px;
                @include media-breakpoint-up(xl){
                    max-width: 250px;
                }
                @include media-breakpoint-up(lg){
                    padding-bottom: 0.6rem;
                }
                @include media-breakpoint-up(sm){
                    max-width: 200px;
                }
            } 
        }
        .navbar, .navbar .container, .navbar .dropdown{
            @include media-breakpoint-up(lg){
                position: static;
            }
        }
        .dropdown{
            @include media-breakpoint-up(lg){ 
                &-menu{
                    border: 0;
                    border-radius: 0;
                    margin-top: 0;
                    &.show{
                        padding: 0;
                        box-shadow: 4px 0px 16px 2px rgba($dark, .1);
                        width: 800px;
                        margin-left: 17px;
                        z-index: -1;
                        display: block;
                        opacity: 1;
                        @include position(absolute, 100% 0 null 0);
                        .nav-pills{
                            .nav-link{
                                background-color: $gray-300;
                                @include rounded(0);
                                @include padding(1rem);
                                color: $dark;
                                &.active{
                                    background-color: $dark;
                                    color: $white;
                                }
                            }
                        }
                        .dropdown-item{
                            padding: 0.3rem;
                        }
                        .dropdown-items-holder{
                            padding-bottom: 10px; 
                            position: relative;
                            .btn-bottom{
                                @include position(absolute, null 0 -5px null);
                                display: block;
                            } 
                        }
                    } 
                }
                &-toggle{
                    &::after{
                        display: none;
                    }
                } 
                @include hover(){
                    .dropdown-menu{
                        padding: 0;
                        box-shadow: 4px 0px 16px 2px rgba($dark, .1);
                        width: 800px;
                        margin-left: 17px;  
                        margin-top: 0;
                        z-index: -1;
                        display: block;
                        opacity: 1;
                        @include position(absolute, 100% 0 null 0);
                        .nav-pills{
                            .nav-link{
                                background-color: $gray-300;
                                @include rounded(0);
                                @include padding(1rem);
                                height: 50%;
                                color: $dark;
                                &.active{
                                    background-color: $dark;
                                    color: $white;
                                }
                            }
                        }
                        .dropdown-item{
                            padding: 0.3rem;
                        }
                        .dropdown-items-holder{
                            padding-bottom: 10px; 
                            position: relative;
                            .btn-bottom{
                                @include position(absolute, null 0 -5px null);
                                display: block;
                            } 
                        }
                    }
                }
            }
            @include media-breakpoint-down(lg){
                &-toggle{
                    position: relative; 
                    &::after{
                        content: "+";
                        background-image: none;
                        border: 0px;
                        @include position(absolute, 50% 30px null null);
                        @include transform(translateY(-50%));
                        @include size(14px);
                        opacity: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                &-menu{
                    padding:0;
                    margin: 0;
                    border: 0;
                    border-radius: 0; 
                    .row{
                        margin: 0;
                        .col-lg-3{
                            padding:0;
                            .nav-pills{
                                .nav-link{
                                    @include rounded(0);
                                    background-color: $white;
                                    border-color: $dark;
                                    text-align: left;
                                    color: $dark;
                                    font-size: $font-size-base*0.8; 
                                    @include media-breakpoint-up(md) {
                                        font-size: $font-size-base*0.9;
                                    }
                                    &.active{
                                        background-color: $dark;
                                        border-color: $dark;
                                        color: $white;
                                    }
                                }
                            }
                        }
                    }
                    .dropdown-items-holder{
                        padding-left: 0; 
                        padding-right: 0; 
                        .dropdown-item{
                            padding-left: 0; 
                            color: $gray-600;
                            padding-right: 0; 
                            font-size: $font-size-base*0.8; 
                            @include media-breakpoint-up(md) {
                                font-size: $font-size-base*0.9;
                            }
                            @include hover(){
                                background-color: transparent;
                                color: $dark;
                            }
                        }
                    }
                }
            }
        }
        &-nav{
            .nav-link{
                @include media-breakpoint-up(lg){
                    border-bottom: 2px solid transparent;
                    @include hover(){
                        background-color: transparent;
                        border-color: $gray-300;
                    }
                    &.active{
                        background-color: transparent;
                        border-color: $gray-300;
                    } 
                    &[aria-expanded="true"]{
                        background-color: transparent;
                        border-color: $gray-300;
                    }
                }
                @include media-breakpoint-down(lg){
                    padding-top: 0.8rem;
                    padding-right: 1.5rem;
                    padding-left: 1.5rem;
                    border: 1px solid transparent;
                    @include hover(){
                        background-color: $gray-200;
                        border-color: $gray-300;
                    }
                    &.active{
                        background-color: $gray-200;
                        border-color: $gray-300;
                    } 
                    &[aria-expanded="true"]{
                        background-color: $gray-200;
                        border-color: $gray-300;
                    }
                }
            }
        }
        &-collapse{ 
            .nav-link{
                text-transform: uppercase;
                color: $dark;                 
            } 
            @include media-breakpoint-down(lg){
                @include transition(all 0.5s);
                display: block!important;
                @include transform(translateX(100%));
                @include position(fixed, 0 0 0 inherit);
                width: 300px;
                border-left: 1px solid $gray-600;
                height: 100vh;
                padding-top: 4rem;
                z-index: 1050;
                background-color: rgba($white, 0.97);
                .navbar-nav{
                    height: calc(100vh - 4rem);
                    overflow-y: auto;  
                }
            }
            &.show{
                @include transform(translateX(0));
            }
        }
    }
    .navbar-toggler{
        background-color: $white;
        border: 0;
        z-index: 1052;
        @include hover(){
            box-shadow:none;
            outline: 0;
        }
        padding:0.5rem!important; 
        span {
            position: relative;
            line-height: 0;
            width: 28px!important;
            height: 2px!important;
            background-color: $secondary;
            display: block;
            margin: 3px 0;
            @include rounded(2px);
            @include transition(all 0.5s);
            @include child("even") {
                opacity: 0;
            }
            @include child(3) {
                opacity: 1;
                position: relative;
                &::after,
                &::before {
                    content: " ";
                    @include transition(all 0.5s);
                    @include rounded(2px);
                    width: 28px!important;
                    height: 2px!important;
                    background-color: $secondary;
                    @include position(absolute, 0 0 null 0);
                    transform-origin: center;
                    z-index: 1060;
                }
            }
        }
        &[aria-expanded="true"]{
            span {
                opacity: 0;
                @include child(3) {
                    opacity: 1;
                    background-color: transparent;
                    &::before {
                        opacity: 1;
                        background-color: $dark;
                        @include transform(rotate(-45deg));
                    }
                    &::after {
                        opacity: 1;
                        background-color: $dark;
                        @include transform(rotate(45deg));
                    }
                }
            }
        }
    }
    .nav-btns{
        &.border-between{
            .nav-item{
                align-items: center;
                display: flex;
                text-transform: uppercase;
                @extend %border-between-horizontal;
                .bi{
                    font-size: 16px; 
                }
                .bi-person-circle{
                    font-size: 18px;
                }
                .bi-cart4{
                    font-size: 18px;
                }
            }
        }
    }    
}